    *{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    }
    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        width: 100%;
        margin: 0 auto;
        background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1600);
        background-size: cover;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        
        align-items: center;
         /* background-color: rgb(197, 191, 181);  */
        height: 50px;
        padding: 10px 15%;
        color:white;
        margin: 20px 0;
    }
    .navbar img{
        width: 150px;
        object-fit: cover;
    }
    .log p{
        font-size: 30px;
        background-color: black;
        padding: 5px;
        border-radius: 5px;
    }
    .log span{
        color:#ff7043;
        text-decoration: underline;
        font-family: Arial, Helvetica, sans-serif;
    }
   
    .sign span{
        
        
        margin:0 10px;
        cursor: pointer;
        
    }
    .sign span:hover{
        color:#ff7043;
        transition: all .5s;
        text-decoration: underline;
        
    }
    .sign button{
        padding: 5px;
        background-color: transparent;        
        
        border: 1px solid white;
        color:white;
        text-transform: uppercase;
    }
    .sign button:hover{
        background-color: #ff7043;
        transition: .5s;
        cursor: pointer;
        color:black;
    }
    .container{
        max-width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        color:white;
    }
    .container h1{
        font-size: 30px;
        text-transform: uppercase;
        margin: 10px;
    }
    .btn-primary{
        margin: 5px;
        padding: 10px;
        background-color: black;
        color:white;
        border: 0;
        cursor: pointer;
        width: 150px;
    }
    .btn-secundary{
        margin: 5px;
        padding: 10px;        
        background-color:transparent;   
        color:white;
        border: 1px solid white;
        cursor: pointer;
        width: 150px;
    }
    .btn-secundary:hover{
        background-color: #ff7043;
        transition: .5s;
    }
  
    .btn-primary:hover{
        background-color: #ff7043;
        color:white;
        transition: all .5s;
    }
    .copy{
        text-align: center;
        color:rgb(238, 236, 236);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .copy span{
        font-size: 15px;
        font-weight: 900;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:#ff7043
    }

    @media(max-width:768px){
        .container{
            text-align: center;
        }
        .navbar{
            flex-direction: column;
        }
        .sign span{
            flex-direction: column;            
            display: block;
            margin: 10px;
            text-align: center;
            
        }
    }